<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Add new Product</title>
</head>
<body>
    <%- include('../partials/_nav.ejs') %>

    <h1>Add new Product</h1>
    <form action="/users/<%=user._id%>/inventory" method="POST">
        <label for="productName">Product Name:</label>
        <input type="text" name="productName" required> <br>

        <label for="category">Category:</label>
        <input type="text" name="category" required> <br>

        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" required> <br>

        <label for="price">Price:</label>
        <input type="number" name="price" required> <br>

        <button type="submit">Add</button>
    </form>
</body>
</html>